body{
    color:#40514e;
    margin: 0;
    text-align: center;
    background-color: #FFFBF5;
    /*
    font-family: 'Pacifico', cursive;
    font-family: 'Sacramento', cursive;
    */
}

h1{
    margin: 50px auto 0 auto; 
    font-size: 90px;
    font-family: 'Pacifico', cursive;
    font-family: 'Sacramento', cursive;
    color: #FFFBF5;
    
    
}

h2{
    margin: 0; 
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    font-family: 'Sacramento', cursive;
    color: #674188;
    padding: 20px;

}

h3{
    font-size: 25px;
    
    color: #C3ACD0;
}

p{
    line-height: 2;
    color:black;
}

.TopContainer{
    background-color: #674188;
    position: relative;
    padding-top: 245px;
    padding-bottom: 245px;
}
.middle-container{
    margin:100px 0;

   
}
.bottom-container{
    background-color: #674188;
    padding: 50px 0 20px;
}

.credit{
    color:#FFFBF5;
}

.top-cloud{
    width:15%;
    position: absolute;
    right: 300px;
    top: 100px;
}

.bottom-cloud{
    width:15%;
    position: absolute;
    left:250px;
    bottom: 200px;
}

.skill-img{
    width:25%;
    float: left;
    margin-right: 30px;
}

.skill-img2{
    width:25%;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align:left;
   
}

.intro{
    width: 45%;
    margin:auto;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #674188;
    width:3%
}

a{
    color: black;
    margin: 5px 10px;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: #C3ACD0;
}

.btn {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #674188;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #C3ACD0;
    text-decoration: none;
  }
